.project
.settings/
.vscode/
app-core/.classpath
app-core/.factorypath
app-core/.project
app-core/.settings/
app-core/target/
app-local-updater/.classpath
app-local-updater/.factorypath
app-local-updater/.project
app-local-updater/.settings/
app-local-updater/target/
app-shared/target/
app-ui/.classpath
app-ui/.factorypath
app-ui/.project
app-ui/.settings/
app-ui/target/
app/.classpath
app/.factorypath
app/.project
app/.settings/
app/target/
target/